<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="name.giacomofurlan.woodsman">
    <Loggers>
        <Logger name="gf-woodsman" level="debug">
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="ServerGuiConsole"/>
        </Logger>
    </Loggers>
</Configuration>